<h1> Find out how many coins you get out of some pennies </h1>

<form action = "/output">
  <label for ="pennies">Enter amount of pennies</label>
  <input name = "pennies" type ="number">
  <button type="submit">Submit</button>
</form>
